<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%- title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheet.css" type="text/css">

    <script>
        const changeImgUrl = function() {
            const _docImages = Array.from(document.querySelectorAll('img'));

            _docImages.forEach(function(_img, index) {
                _imgUrl = _img.getAttribute('src');

                if (_imgUrl.includes('github.com')) {
                    _imgUrl = _imgUrl.replace('github', 'raw.githubusercontent');
                    _imgUrl = _imgUrl.replace('/blob', '');
                }

                _img.setAttribute('src', _imgUrl);
            });
        }
    </script>
</head>
<body onload="changeImgUrl()">

<%- include('header') -%>

<table>
    <tr id="header">
        <th>DESIGNERS</th>
        <th>TITLE</th>
        <th>IMAGE</th>
        <th>ARTEFACT</th>
        <th>TAGS</th>
    </tr>
    <% data.forEach(function(projects, index){ %>
        <tr onclick="location.href='/transcoding/<%= projects.projectUrlName %>'">
            <td>
            <% projects.students.forEach(function(name, index){ %>
                    <% if((index + 1) < projects.students.length) { %>
                        <span><%= name %></span>,
                    <% } else { %>
                        <span><%= name %></span>
                    <% } %>
            <% }); %>
            </td>
            <td>
                <%= projects.projectName %>
            </td>
            <td>
                <%- projects.image %>
            </td>
            <td>
                <%= projects.description %>
            </td>
            <td>
                <% projects.tags.forEach(function(tag, index){ %>
                    <% if((index + 1) < projects.tags.length) { %>
                        <span><%= tag %></span>,
                    <% } else { %>
                        <span><%= tag %></span>
                    <% } %>
                <% }); %>
            </td>
        </tr>
    <% }); %>
</table>

</body>
</html>