<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title><%- projectTitle %></title>
    <meta name="author" content="<%- name %>">
    <meta name="description" content="<%- descriptionText %>">

    <meta property="og:type" content="article">
    <meta property="og:title" content="<%- `${projectTitle} – archival transcoding` %>">
    <meta property="og:description" content="<%- descriptionText %>">
    <meta property="og:image" content="<%- cover %>">
    <meta property="og:url" content="<%- `https://catalog-of-archival-resilience.herokuapp.com/transcoding/${userName}` %>">
    <meta property="og:site_name" content="catalog-of-archival-resilience">

    <meta name="twitter:title" content="<%- projectTitle %>">
    <meta name="twitter:description" content="<%- descriptionText %>">
    <meta name="twitter:image" content="<%- cover %>">
    <meta name="twitter:site" content="@aptoptout">
    <meta name="twitter:creator" content="@aptoptout">
    <meta name="twitter:card" content="summary_large_image">

    <link href="/" rel="start" title="Home">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheet.css" type="text/css">
</head>
<body>

<%- include('header') -%>

<div id="cover">
    <img src="<%- cover%>">
</div>

<div id="tableOfContentsLeft">
    <h3><%- tocheading %></h3>
    <ol>
        <%- toclist %>
    </ol>
</div>

<div id="content">
    <%- body %>
</div>

<script>
    document.addEventListener('scroll', function() {
        // console.log(document.documentElement.scrollTop);
        if(document.documentElement.scrollTop > 0) {
            document.querySelector('nav h1').classList.add('smallHheading');
        } else {
            document.querySelector('nav h1').classList.remove('smallHheading');
        }
    });
</script>

</body>
</html>